.open-acc {
  background-color: #383838;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem !important;
}

.footer {
  background-color: #383838;
  padding-bottom: 3rem;
}

.footer__title {
  margin-bottom: 2rem;
  color: #bfbfbf;
}

.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.footer__nav-list-item a {
  color: #fff;
}

.footer-logo {
  display: block;
  margin: 5rem auto 0;
}
